.my_container {

  background-color: rgb(36, 255, 124);
  border-radius: 20px;

}

h1 {
  font-size: 50px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
  
}

.my_output {
  margin:0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

